<video id="video" ></video>
<button id="startbutton">Take photo</button>
<canvas id="canvas"  ></canvas>
<!-- <img src="http://placekitten.com/g/320/261" id="photo" alt="photo"> -->
<script>




function get_browser(){
    var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || []; 
    if(/trident/i.test(M[1])){
        tem=/\brv[ :]+(\d+)/g.exec(ua) || []; 
        return 'IE '+(tem[1]||'');
        }   
    if(M[1]==='Chrome'){
        tem=ua.match(/\bOPR\/(\d+)/)
        if(tem!=null)   {return 'Opera '+tem[1];}
        }   
    M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
    if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
    return M[0];
    }

function get_browser_version(){
    var ua=navigator.userAgent,tem,M=ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];                                                                                                                         
    if(/trident/i.test(M[1])){
        tem=/\brv[ :]+(\d+)/g.exec(ua) || [];
        return 'IE '+(tem[1]||'');
        }
    if(M[1]==='Chrome'){
        tem=ua.match(/\bOPR\/(\d+)/)
        if(tem!=null)   {return 'Opera '+tem[1];}
        }   
    M=M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
    if((tem=ua.match(/version\/(\d+)/i))!=null) {M.splice(1,1,tem[1]);}
    return M[1];
    }



// var video = document.querySelector('#video');
// var canvas = document.querySelector('#canvas');
function userMonitor(mediaQuality) {
  this.width =  '',
  this.height =  '',
  this.quality = '', //on a scale of 0 - 1
  this.video        = '',
  this.canvas       = '',
  this.streaming = false;
  this.frequencyTimer = '',
  this.urlToPost = '',
  // this.canvasId = '',
  // this.videoId = '',
  this.browserName= get_browser(),
  this.browserVersion = get_browser_version(),

  //methods
  this.getMedia =  function(){
    return ( navigator.getUserMedia ||
                         navigator.webkitGetUserMedia ||
                         navigator.mozGetUserMedia ||
                         navigator.msGetUserMedia)
  },

  this.selectWorkFlow =  function(){
    //doesn't work in internet explorer to get function name
    var media = this.getMedia().name;
    if (media != '' || media != undefined){
      //for now choosing the same workflow for all browsers
      console.log('the height is '+ this.height);
    }
  },
  this.getUserPermission = function(){
    console.log('inside media');
    var global = this;

    navigator.getMedia = this.getMedia();
    navigator.getMedia(
    {
      video: true,
      audio: false
    },
    function(stream) {
      console.log('stream');
      if (navigator.mozGetUserMedia) {
        global.video.mozSrcObject = stream;
        console.log(global.video.mozSrcObject);
      } else {
        var vendorURL = window.URL || window.webkitURL;
        console.log('inside stream');
        global.video.src = vendorURL.createObjectURL(stream);
        console.log(global.video.src);
      }
      global.video.play();
      global.streaming = true;

    },
    function(err) {
      console.log("An error occured! in getUserPermission " + err);
      if (err == 'PERMISSION_DENIED'){
        // send an ajax request that user denied;
        alert('the user denied');
      }
      else{
        alert("your browser doesn't support getUserMedia");
      }
    }

    );
  },
  this.takePicture = function takepicture() {
    // height = 240;
    var global = this;
    if (this.streaming){
      console.log(this);
      this.canvas.setAttribute('width',this.width);
      this.canvas.setAttribute('height',this.height);    
      console.log(this.canvas.height);
      console.log(this.video.mozSrcObject);
      context1 = this.canvas.getContext('2d')
      context1.drawImage(this.video, 0, 0, this.width, this.height);
      console.log(this.canvas);
      var data = this.canvas.toDataURL("image/jpeg",this.quality);
      console.log(data);
      // photo.setAttribute('src', data);
      $.ajax({
        type: "POST",
        url: global.urlToPost,
        data: {img: data}
      })
    }
    else{
      console.log('sorry streaming is not available, please get permission first')
    }
  },
  this.startTimedPics = function(frequency){
    var global = this;
    if (frequency >= 1000 && this.streaming){
      this.frequencyTimer = setInterval(function(){
        global.takePicture();
      },frequency);     
    }

  },
  this.stopTimedPics = function(){
    if (this.frequencyTimer != ''){
      clearInterval(this.frequencyTimer);
      this.frequencyTimer = '';
    }
    else{
      console.log('No timer has been set');
    }
  }
}
//setter for the object
userMonitor.prototype.setVal = function(mediaQuality,selectorVideoCanvas,urlToPost){
  console.log(mediaQuality);
  this.width = mediaQuality['width'];
  this.height = mediaQuality['height'];
  this.canvas = document.querySelector(selectorVideoCanvas['canvas']);
  this.video = document.querySelector(selectorVideoCanvas['video']);
  this.video.setAttribute('width', this.width);
  this.video.setAttribute('height', this.height);
  this.quality = mediaQuality['quality'];
  this.urlToPost = urlToPost;

}
var a = new userMonitor();
//value setting here
a.setVal({'width': 200,'height': 120,'quality': 0.5},{'canvas': '#canvas','video': '#video'},'video_capture/index');
// a.selectWorkFlow();
a.getUserPermission();
console.log(a);
// a.takePicture();

</script>