<canvas id="inputCanvas" width="320" height="240" hidden ></canvas>
<div class="container">


<video id="inputVideo" width="200" height="120"  autoplay loop style="postion: absolute; z-index: -2;" >


</video>

</div>


<script type="text/javascript">
  var videoInput = document.getElementById('inputVideo');
  var canvasInput = document.getElementById('inputCanvas');
  var xaxis = '';
  var yaxis = '';
  var width_rec = '';
  var height_rec = '';
  var htracker = new headtrackr.Tracker({ui: false,detectionInterval: 350, headPostion: false, fadeVideo: true});
  htracker.init(videoInput, canvasInput);
  htracker.start();

  function calculateHeightWidth(x,y,height,width){
    x = (x - (width/2));
    y = (y - (height/2));
    return [x,y];
  }
  document.addEventListener('facetrackingEvent', 
    function (event) {
      xaxis = event.x;
      yaxis = event.y;
      width_rec = event.width;
      height_rec = event.height;
      var c=document.getElementById("inputCanvas");
      var ctx=c.getContext("2d");
      var arr = calculateHeightWidth(xaxis,yaxis,height_rec,width_rec);
      xaxis = arr[0];
      yaxis = arr[1];
      console.log(xaxis,yaxis,width_rec,height_rec);
      // ctx.strokeRect(xaxis,yaxis,width_rec,height_rec); 
    }
  );
	document.addEventListener('headtrackrStatus', 
	  function (event) {
	    if (event.status == "no camera") {
	      console.log("getUserMedia is supported!");
	      //trigger ajax request here
	    }
	  }
	);
	function sendMsg(urlToPost,data,errors){
      $.ajax({
        type: "POST",
        url: urlToPost,
        data: {img: data,errors: errors}
      })
	}
	function takePic(canvasId,quality,urlToPost){
		var picData = $(canvasId).get(0).toDataURL("image/jpeg",quality);
		sendMsg(urlToPost,picData,'');
	}
</script>