<canvas id="inputCanvas" width="320px" height="240px" hidden ></canvas>
<div class="container">

<div id="video_overlays" ></div>
<video id="inputVideo" width="160px" height="120px"  autoplay loop style="postion: absolute; z-index: -2;" >


</video>

</div>


<script type="text/javascript">
  var videoInput = document.getElementById('inputVideo');
  var canvasInput = document.getElementById('inputCanvas');
  var xaxis = '';
  var yaxis = '';
  var width_rec = '';
  var height_rec = '';
  var arr = '';
  var ratio = 2;
  var overlay = $('#video_overlays');
  var htracker = new headtrackr.Tracker({ui: false,detectionInterval: 350, headPostion: false, fadeVideo: true});
  htracker.init(videoInput, canvasInput);
  htracker.start();

  function calculateHeightWidth(x,y,height,width){
    x = (x - (width/2));
    y = (y - (height/2));
    return [x,y];
  }
  function normalizeHeightWidth(arr,ratio){
    for (var i=0; i<arr.length;i++){
      arr[i] = arr[i]/ratio;
    }
    return arr;
  }
  document.addEventListener('facetrackingEvent', 
    function (event) {
      xaxis = event.x;
      yaxis = event.y;
      width_rec = event.width;
      height_rec = event.height;
      var c=document.getElementById("inputCanvas");
      var ctx=c.getContext("2d");
      arr = calculateHeightWidth(xaxis,yaxis,height_rec,width_rec);
      arr = normalizeHeightWidth(arr,ratio);
      xaxis = arr[0];
      yaxis = arr[1];
      overlay.css({
        "margin-left": xaxis,
        "margin-top": yaxis,
        "height": height_rec/ratio,
        "width": width_rec/ratio
      })
      // console.log(xaxis,yaxis,width_rec,height_rec);
      // ctx.strokeRect(xaxis,yaxis,width_rec,height_rec); 
    }
  );
	document.addEventListener('headtrackrStatus', 
	  function (event) {
	    if (event.status == "no camera") {
	      console.log("getUserMedia is supported!");
	      //trigger ajax request here
	    }
      if (event.status == "detecting") {
        console.log('running');
        $('#inputVideo').get(0).setAttribute('width','160px');
      }
	  }
	);
	function sendMsg(urlToPost,data,errors){
      $.ajax({
        type: "POST",
        url: urlToPost,
        data: {img: data,errors: errors}
      })
	}
	function takePic(canvasId,quality,urlToPost){
		var picData = $(canvasId).get(0).toDataURL("image/jpeg",quality);
		sendMsg(urlToPost,picData,'');
	}
</script>